<link rel="stylesheet" href="/css/forgot_password.css">

<h1>
    Change Password
</h1>
<form action="/users/password-reset/<%=token%>" method="POST">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">New Password</label>
        <input type="password" class="form-control" id="inputEmail4" placeholder="New Password" name="new_password">
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Confirm Password</label>
        <input type="password" class="form-control" id="inputPassword4" placeholder="Confirm Password" name="confirm_password">
      </div>
    </div>
    <button type="submit">Submit</button>
  </form>