<link rel="stylesheet" href="/css/sign_in.css">

<div id="container1">
    <Img src="/icons/4.png">
    <h1>Login</h1>
    <form>
        <input type="text" placeholder="Email" required >
        <input type="password" placeholder="Password" required >
        <br>
        <span>New User?<br><a href="">ClickHere</a> to create an account</span>
        <button type="submit">LOG IN</button>
    </form>
    
</div>

<div id="container2">
    
    <h2>Welcome To</h2><br>
    <h1>SocioPolis</h1>
    
</div>
