<link rel="stylesheet" href="/css/sign_in.css">

<div id="container1">
    <Img src="/icons/4.png">
    <!-- <h1>SocioPolis</h1> -->
    <h1>Login</h1>
    <form action="/users/create-session" method="POST">
        <input type="text" placeholder="Email" name="email"  required >
        <input type="password" placeholder="Password" name="password" required >
        <br>
        <span>New User?<br><a href="/users/sign-up">ClickHere</a> to create an account</span>
        <button type="submit">SIGn IN</button>
    </form>

    <p>
        <a href="/users/auth/google">Google Sign In</a>
    </p>
    
</div>

<div id="container2">
    
    <h2>Welcome To</h2><br>
    <h1>SocioPolis</h1><br>
    <h3>Your All In One Social Platform<br>
    Its Time To Get Social</h3>
    
</div>

