<div>
    <p>Hi <%= token.user.name %> </p>
    <br>
    <br>
    <p>The link to reset your password <a href="http://localhost:8000/users/password-reset/<%=token.resetToken%>">Click Here</a></p>
    <br>
    <br>
    <p>
        With Regards<br>
        Team SocioPolis
    </p>
</div>